*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    overflow: hidden;
    cursor: none;
}
.cursor{
    position: relative;
    width: 90px;
    height: 100px;
}